.ctn-conheca-o-app{
    width: 100%;
    height: 100vh;
    background-color: #2E2E2E;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
}
.ctn-content-app{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}
.title-{
    font-weight: 400;
    font-size: 35px;
    line-height: 50px;
}
.legend-{
    width: 650px;
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    letter-spacing: 0.25px;
}
.ctn-body-{
    margin-top: 50px;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    position: relative;
}
.row-link{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    align-items: center;
    cursor: pointer;
    width: 250px;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 5px;
    transition: all 250ms ease-in-out;
}
.ctn-body- a{
    text-decoration: none;
    color: white;
}
.row-link img{
    margin-right: 20px;
    width: 50px;
    height: 50px;
}

.row-link:hover{
    border:1px solid #FFC033;
}

.img-1 img{
    width: 200px;
    transform: rotate(10deg);
    margin-left: 200px;
}
.img-2 img{
    width: 200px;
    position: absolute;
    transform: rotate(10deg);
    margin-top: 85px;
    margin-left: 210px;
    left: 50%;
    top:0px
}

@media screen and (max-width:1024px) {
    .img-1 img{
        margin-left: 100px;
    }
    .img-2 img{
        margin-left: 150px;
    }
}

@media screen and (max-width:900px) {
    .img-1 img{
        margin-left: 50px;
        width: 180px;
    }
    .img-2 img{
        margin-left: 130px;
        width: 180px;
    }
}

@media screen and (max-width:830px) {
    .img-1 img{
        margin-left: 20px;
        width: 180px;
    }
    .img-2 img{
        margin-left: 110px;
        width: 180px;
    }
}
@media screen and (max-width:800px) {
    .title-{
        font-size: 30px;
    }
    .legend-{
        font-size: 22px;
    }
    .img-1 img{
        margin-left: 20px;
        margin-top: 50px;
        width: 180px;
    }
    .img-2 img{
        margin-left: 110px;
        margin-top: 130px;
        width: 180px;
    }
    .ctn-content-app{
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 100px;
        margin-bottom: 100px;

    }
}


@media screen and (max-width:768px) {
    .title-{
        font-size: 28px;
    }
    .legend-{
        width: 85%;
        font-size: 24px;
    }
    .row-link img{
        width: 30px;
        height: 30px;
    }
    .row-link {
        font-size: 0.9rem;
        width: 190px;
    }
    .img-1 img{
        margin-left: 60px;
        margin-top: 35px;
        width: 165px;
    }
    .img-2 img{
        margin-left: 120px;
        margin-top: 110px;
        width: 165px;
    }
    .ctn-content-app{
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

@media screen and (max-width:680px) {

    .img-1 img{
        margin-left: 40px;
        margin-top: 50px;
        width: 155px;
    }
    .img-2 img{
        margin-left: 110px;
        margin-top: 120px;
        width: 155px;
    }
  
}

@media screen and (max-width:630px) {
    .ctn-body-{
        flex-direction: column;
        margin-top: 30px;
    }
    .title-{
        font-size: 25px;
    }
    .legend-{
        width: 85%;
        font-size: 20px;
        margin-top: 20px;
    }
    .row-link {
        margin-bottom: 10px;
    }
    .img-1 img{
        margin: 0;
        margin-right: 160px;
        margin-top: 20px;
        width: 140px;
    }
    .img-2 img{
        margin: 0;
        margin-top: 85px;
        width: 140px;
    }
  
}
@media screen and (max-width:550px) {
    .ctn-body-{
        flex-direction: column;
        margin-top: 30px;
    }
    .title-{
        font-size: 22px;
    }
    .legend-{
        width: 90%;
        font-size: 20px;
        margin-top: 20px;
    }
    .img-1 img{
        margin-top: 20px;
    }
    .img-2 img{
        margin-top: 85px;
    }
  
}

@media screen and (max-width:500px) {
    .ctn-content-app{
        margin-top: 100px;
    }
}

@media screen and (max-width:475px) {
    .title-{
        width: 80%;
    }
    .ctn-content-app{
        margin-top: 50px;
    }
}

@media screen and (max-width:400px) {
    .title-{
        font-size: 22px;
    }
    .legend-{
        font-size: 18px;
    }
}

@media screen and (max-width:375px) {
    .img-1 img{
        width: 130px;
        margin-top: 40px;
        margin-right: 140px;
    }
    .title-{
        width: 90%;
        font-size: 20px;
    }
    .legend-{
        width: 100%;
        font-size: 16px;
    }
    .img-2 img{
        width: 130px;
        margin-top:95px;
    }
}

@media screen and (max-width:325px) {
    .title-{
        width: 100%;
        font-size: 22px;
    }
    .legend-{
        width: 100%;
        font-size: 16px;
    }
    .row-link img{
        width: 28px;
        height: 28px;

    }
    .row-link {
        font-size: 0.8rem;
    }
}

@media screen and (max-width:300px) {
    .title-{
        width: 100%;
        font-size: 20px;
    }
    .img-1 img{
        width: 110px;
        margin-top: 90px;
        margin-right: 110px;
    }
    .img-2 img{
        width: 110px;
        margin-top: 130px;
    }

    .legend-{
        width: 100%;
        font-size: 14px;
    }
    .row-link img{
        width: 28px;
        height: 28px;

    }
    .row-link {
        font-size: 0.8rem;
    }
}