@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
.App{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand';
  font-style: normal;
  color:white;
  background-color: #222222;
  overflow-x: hidden;
  overflow-y: hidden;
}
.button-to-top{
  position: fixed;
  bottom:10%;
  border-radius: 99px;
  right: 1%;
  cursor: pointer;
}
.button-to-top img{
  width: 50px;
  filter: invert(100%) sepia(9%) saturate(1671%) hue-rotate(210deg) brightness(118%) contrast(97%);
  height: 50px;
  transform: rotate(180deg);
}
@media screen and (max-width:768px) {

  .button-to-top img{
    width: 40px;
  }

}

@media screen and (max-width:650px) {

  .button-to-top img{
    width: 35px;
  }

}

@media screen and (max-width:500px) {

  .button-to-top img{
    width: 30px;
  }

}

@media screen and (max-width:300px) {

  .button-to-top img{
    width: 20px;
  }

}